body {
  margin: 0;
  padding: 0;
  text-align: center;
}
.sample-div {
  width: 500px;
  height: 300px;
  background-color: aquamarine;
  margin: 2% auto;
}
.pseudo-container {
  position: relative;
}
.boy {
  position: sticky;
  top: 0px;
  z-index: 3;
}
.ring {
  position: sticky;
  top: 30px;
  left: 500px;
  z-index: 2;
}
.water {
  position: sticky;
  top: 60px;
  z-index: 1;
}
